.funil {
  width: 100%;
  margin-left: 10%;
}

.container {
  text-align: center;
}

.topo {
  width: 90%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 125px solid #5386E4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-topo{ 
  width: 180px; 
  margin-top: -110px;
  font-size: 30px;
  height: 30px;

}
.topo label{
  color: #FFFFFF;
}

.meio-topo {
  margin-left: 2.6%;
  width: 84.9%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 125px solid #dae453;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.meio-topo label{
  color: #FFFFFF;
}

.input-meio-topo{  
  width: 180px; 
  margin-top: -110px;
  font-size: 30px;
  height: 30px;
}

.meio-fundo {
  margin-left: 50px;
  width: 79.6%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 125px solid #53aae4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.meio-fundo label{
  color: #FFFFFF;
}
.input-meio-fundo{  
  width: 180px; 
  margin-top: -110px;
  font-size: 30px;
  height: 30px;
}

.fundo {
  margin-left: 75px;
  width: 74.5%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 125px solid #53e46b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.fundo label{
  color: #FFFFFF;
}

.input-fundo{  
  width: 180px; 
  margin-top: -110px;
  font-size: 30px;
  height: 30px;
}


.highlight {
background-color: #FD951F08;
}

.card, .tasks {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}

.d-none {
    
}

.tasks1 {
    display: inline-block;
    
    padding: 0 1rem 1rem 1rem;
    border: 1px solid #e3eaef;
    vertical-align: top;
    margin-bottom: 30px;
    border-radius: 0.25rem;
}

.forma-pagto{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
}

.text-taxado{
  text-decoration: line-through
}

.form-check {
  display: flex;
}

.side-nav-third-level li a {

  background-color: red;
}

.limitar-table {
  height: 437px;
  
}

#Table {
  overflow-y: scroll;
}

