<template>
    
    <tr>
        <td>
            <p class="m-0 d-inline-block align-middle font-12">{{ item.id }}</p>
        </td>
        <td>
            <p class="m-0 d-inline-block align-middle font-10">{{ item.descricao }}</p>
        </td>
        <td>  
            <p class="m-0 d-inline-block align-middle font-12">{{ item.preco_venda }}</p>
        </td>
        <td v-on:dblclick="onclickEdit()">
            <input v-if="editMode" type="text"  class="form-control" v-model="quantidade"  v-on:blur="onclickUpdate()">
            <p v-else  class="m-0 d-inline-block align-middle font-10"><a class="text-body">{{item.quantidade}}</a></p> 
                                                  
        </td>
        <td>  
            <p class="m-0 d-inline-block align-middle font-12">{{ item.preco_total }}</p>
        </td>
        <td>
            <a href="javascript:void(0);" class="action-icon" v-on:click="onclickDelete()" > <i class="mdi mdi-delete"></i></a>
        </td>
    </tr>
            
</template>
<script>
    export default {
        props: ['item'],
        data() {
            return {
                editMode: false,
                quantidade:1,
            };
        },
        mounted(){
            console.log('Componente ItensPDV')
        },
        methods: {
            onclickDelete(){
                this.$emit('delete')
            },
            onclickEdit(){
                this.editMode = true
            },
            onclickUpdate(){
                this.editMode = false;
                this.item.preco_total = (this.item.preco_venda * this.quantidade).toFixed(2)
                this.item.quantidade  =  this.quantidade;
                this.$emit('update',this.item);
            }
        }
    }
</script>