<template>
    <div class="row">               
        <div class="col-xl-12">
            <!-- tasks panel -->
            <div class="collapse show" id="todayTasks">
                <div class="card mb-0">
                    <div class="card-body">
                        <a class="text-dark" data-toggle="collapse" href="#todayTasks" aria-expanded="false" aria-controls="todayTasks">
                            <h4 class="m-0 pb-2">
                                <i class="uil uil-angle-down font-18"></i>Detalhes da Compra <span class="text-muted"></span>
                            </h4>
                        </a>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">                       
                                <produtos-pdv  @new="addItem"></produtos-pdv>
                                <div class="table-responsive mt-3" style="overflow-y:auto; min-height:400px; max-height:400px">
                                        <table class="table table-borderless table-centered mb-0"  id="Table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Descricao</th>
                                                    <th>R$ Unit</th>
                                                    <th>Qtde</th>
                                                    <th>R$ Total</th>
                                                    <th style="width: 50px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody  >

                                                <itens-pdv 
                                                    v-for="(item, index) in itens" 
                                                    :key="item.id"
                                                    :item="item"
                                                    @update="updateItem(index, ...arguments)"
                                                    @delete="deleteItem(index)" >
                                                </itens-pdv>
                                            </tbody> 
                                        </table>
                                    </div> <!-- end table-responsive-->
                               
                                <div class="row">
                                    <div class="col-md-4"></div>
                                     <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="card bg-light mb-3" style="width: 18rem;">
                                                <div class="card-body">
                                                    <h3 class="card-title text-center text-primary">Operante</h3>
                                                    <p class="card-text text-center">Status da SEFAZ</p>
                                                </div>
                                            </div>
                                           
                                            <div class="card bg-light mb-3 ml-2" style="width: 18rem;">
                                                <div class="card-body">
                                                    <h2 class="card-title text-center">{{ totalCompra | formatNumber }}</h2>
                                                    <p class="card-text text-center">R$ Total</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                       <div class="text-sm-right">
                                        <button type="text" class="btn btn-danger mr-2" data-toggle="modal" data-target="#modal-pdv">
                                            <i class="mdi mdi-cart-plus"></i> Finalizar Venda </button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
 
     <!--  Modal content for the above example -->
    <div class="modal fade" data-backdrop="static" id="modal-pdv" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">FINALIZAR VENDA</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                            <div class="col-xl-4 col-lg-6">
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="mdi mdi-currency-usd widget-icon bg-success rounded-circle text-white"></i>
                                        </div>
                                        <h3 class="text-muted font-weight-normal mt-0" title="Revenue">Total Venda</h3>
                                        <h3 class="mt-3 mb-3"> {{ totalCompra | formatNumber }}</h3>
                                        
                                    </div>
                                </div>
                                <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="mdi mdi-currency-usd widget-icon bg-warning rounded-circle text-white"></i>
                                        </div>
                                        <h3 class="text-muted font-weight-normal mt-0" title="Revenue">Valor com Desconto</h3>
                                        <h3 class="mt-3 mb-3"> {{ valor_com_desconto | formatNumber }}</h3>
                                        
                                    </div>
                                </div>
                                 <div class="card widget-flat">
                                    <div class="card-body">
                                        <div class="float-right">
                                            <i class="mdi mdi-currency-usd widget-icon bg-danger rounded-circle text-white"></i>
                                        </div>
                                        <h1 class="text-muted font-weight-normal mt-0" title="Revenue">Troco</h1>
                                        <h3 class="mt-3 mb-3"> {{ troco | formatNumber }}</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        <!-- end col -->

                        <div class="col-lg-8">
                            <div class="border p-3 mt-4 mt-lg-0 rounded">
                                <h4 class="header-title mb-3">Resumo do Pedido</h4>

                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td>Total Geral:</td>
                                                <td>R$ {{ totalCompra | formatNumber }}</td>
                                            </tr>
                                            <tr>
                                                <td>Desconto: </td>
                                                <td><input type="text" v-model.lazy="desconto"  class="form-control" @change="valor_desconto"></td>
                                            </tr>
                                            <tr>
                                                <td>Valor Pago: </td>
                                                <td><input type="text" v-model.lazy="vl_pago" class="form-control"
                                                @change="valor_pago"></td>
                                            </tr>
                                            <tr>
                                                <td>Forma de Pagamento</td>
                                                <td>
                                                    <select type="text" v-model="fr_pagto" class="form-control">                                                        
                                                        <option value="di">Dinheiro</option>
                                                        <option value="cd">Cartão de Débito</option>
                                                        <option value="cc">Cartão de Crédito</option>
                                                    </select>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Condições</td>
                                                <td>
                                                    <select type="text" v-model="condicoes" class="form-control">
                                                        <option value="01">A Vista</option>
                                                        <option value="02">02 Vezes</option>
                                                        <option value="03">03 Vezes</option>
                                                        <option value="04">04 Vezes</option>
                                                        <option value="05">05 Vezes</option>
                                                        <option value="06">06 Vezes</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Total :</th>
                                                <th>R$ {{ this.valor_com_desconto | formatNumber }}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive -->
                            </div>

                             <!-- action buttons-->
                            <div class="row mt-4">
                                <div class="col-sm-6">
                                    <button type="button" data-dismiss="modal" class="btn text-muted d-none d-sm-inline-block btn-link font-weight-semibold">
                                        <i class="mdi mdi-arrow-left"></i> Cancelar </button>
                                </div> <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="text-sm-right">
                                        <button type="button"  data-dismiss="modal" class="btn btn-danger" v-on:click="finalizarCompra()">
                                            <i class="mdi mdi-cart-plus mr-1"></i> Finalizar </button>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row-->

                        </div> <!-- end col -->

                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
     
</div>

    
</template>

<script>
    
    var numeral = require("numeral");

    Vue.filter("formatNumber", function (value) {
        return numeral(value).format("0.00"); // displaying other groupings/separators is possible, look at the docs
    });

    export default {
       props: ['configEmpresa'],
        data() {
            return {
                itens:[],
                totalCompra: '',
                blockButton: true,
                desconto: '0.00',
                troco:'',
                vl_pago:'',
                fr_pagto:'di',
                condicoes:'01',
                valor_com_desconto:'',
                
            }
        },
        mounted(){
            console.log(this.configEmpresa)
        },
        methods: {
            addItem(item){
                this.blockButton = false;
                this.itens.push(item);
                this.subTotalCompra(this.itens);
            },
            updateItem(index, item){
                this.itens[index] = item;
                this.subTotalCompra(this.itens);
            },
            deleteItem(index){
                this.itens.splice(index,1)
                this.subTotalCompra(this.itens);
            },
            subTotalCompra(item){
                this.totalCompra = 0
                item.forEach(element => {
                    this.totalCompra += parseFloat(element.preco_total)
                });
                this.valor_com_desconto = this.totalCompra
            },
            valor_desconto(){
                if(this.desconto == '' || this.desconto == 0){
                    this.valor_com_desconto = this.totalCompra ;
                }else{
                      this.valor_com_desconto = this.totalCompra- this.desconto;
                }
              
            },
            valor_pago(){
                this.troco = this.vl_pago - this.valor_com_desconto;
            },

            finalizarCompra(){
                if(this.fr_pagto !== 'di' ){
                    alert('emitir nota')
                }else{
                    alert('perguntar se vai emitir nota')
                }
            }
            
        }
    }
</script>
