<template>
<autocomplete :items=produtos  @selecionado="selecionadoItem"/>
            
</template>

<script>
    export default {
        props:['item'],
        data() {
            return {
                items:[],
                produtos: [],
                relProdutos: []
            }
        },
        mounted(){
            axios.get('/gestao/produtos/allProdutos').then((response) =>{

               var produtos = response.data;
                this.relProdutos = produtos;
                produtos.forEach(element => {
                    console.log(element)
                    const produto = element.id +' - '+ element.descricao +' - '+ element.ean
                   this.produtos.push(produto)
                });
            });
        },
        methods: {
            selecionadoItem(item_selecionado){
                let id = item_selecionado.split(' - ')[0]
                this.relProdutos.forEach(element => {
                    if(element.id == id){
                        element.quantidade = 1;
                        element.preco_total = element.preco_venda;
                        this.$emit('new',element)
                    }
                });
            }
           
        }
  
    };
</script>